/*.suo
/*.user
/Taskboard/*.user
/Taskboard/bin/*
/Taskboard/obj/*
/Taskboard/node_modules/**
/Taskboard/wwwroot/**
/Taskboard.Tests/bin/*
/Taskboard.Tests/obj/*
/_ReSharper.TaskBoard/
*.scssc
.vs/**