
@{
    ViewBag.Title = "Future";
}


<div id="app">
	
</div>

<script src="~/Scripts/thirdparty/system.js"></script>
<script>
	SystemJS.config({
		baseURL: '/Scripts/',
		defaultJSExtensions: true,
		map: {
			jquery: '/Scripts/thirdparty/jquery.js',
			react: '/Scripts/thirdparty/react.js',
			"react-dom": '/Scripts/thirdparty/react-dom.js',
			"react-redux": '/Scripts/thirdparty/react-redux.js'
		}
	});

	SystemJS.import('new/main.js');
</script>