@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<input type="hidden" id="displayName"/>
	
	<button id="addTask">Add Task</button>
	<button id="addStory">Add Story</button>

	<div id="consoleOutput">
		<ul id="discussion"></ul>
		<input type="text" id="message"/>
	</div>
</div>

@section scripts
{
	<script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/moment.js"></script>
	<script src="~/Scripts/events.js"></script>
	<script src="~/Scripts/consoleWindow.js"></script>
	<script src="~/Scripts/hubs/Hub.js"></script>
	<script src="~/Scripts/hubs/chatHub.js"></script>
	<script src="~/Scripts/interfaceController.js"></script>
	<script src="~/Scripts/taskController.js"></script>
	<script src="~/Scripts/storyController.js"></script>

	<script src="~/Scripts/main.js"></script>
}