@using JavascriptPrecompiler
@using Taskboard.DataAccess
@{
	ViewBag.Title = ConfigurationSettings.Title + " Tasks";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	html,
	body 
	{
		height: 6000px;
		width: 6000px;
	}
</style>

<div>
	<input type="hidden" id="displayName" />

	<button id="addTask">Add Task</button>
	<button id="addStory">Add Story</button>
	<button id="addRedIssue"></button>
	<button id="addBlueIssue"></button>
	<button id="showLog">Log</button>

	<div id="consoleOutput" style="display:none;">
		<ul id="discussion"></ul>
		<input type="text" id="message" />
	</div>
	
	<div id="logOutput" style="display:none;">
		<button class="clearLog">-</button>
	</div>
</div>

@section scripts
{
	<script>
		window.taskboard = {};
		window.taskboard.displayName = '@ViewBag.DisplayName';

	</script>

	@(Precompiler
		.DustJS()
		.IncludeLibrary()
		.Add("story", "~/Templates/story.dust")
		.Add("task", "~/Templates/task.dust")
		.Add("issue", "~/Templates/issue.dust")
		.Compile())

	<script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/moment.js"></script>
	<script src="~/Scripts/events.js"></script>
	<script src="~/Scripts/consoleWindow.js"></script>
	<script src="~/Scripts/hubs/Hub.js"></script>
	<script src="~/Scripts/hubs/LogHub.js"></script>
	<script src="~/Scripts/hubs/chatHub.js"></script>
	<script src="~/Scripts/interfaceController.js"></script>
	<script src="~/Scripts/taskController.js"></script>
	<script src="~/Scripts/storyController.js"></script>
	<script src="~/Scripts/issueController.js"></script>
	<script src="~/Scripts/logger.js"></script>

	<script src="~/Scripts/main.js"></script>
}