.issue {
  background-color: transparent;
  width: 15em;
  height: 4em;
  position: absolute;
  padding: 0.5em;
  font-family: arial;
  font-weight: bold; }
  .issue.blue {
    color: blue; }
  .issue.red {
    color: red; }
  .issue.closed .content {
    text-decoration: line-through; }
  .issue .content {
    background: transparent;
    position: absolute;
    top: 1em;
    left: 2em;
    width: 85%;
    height: 85%;
    text-align: left;
    border: 0;
    resize: none;
    color: inherit; }
  .issue .assignedTo {
    position: absolute;
    top: 1.1em;
    left: 0%; }
  .issue .closeIssue,
  .issue .openIssue,
  .issue .deleteIssue {
    display: none;
    position: absolute;
    height: 1.6em;
    width: 3em;
    font-size: 0.5em;
    padding: 0;
    border: 0;
    top: .5em; }
    .issue .closeIssue:hover,
    .issue .openIssue:hover,
    .issue .deleteIssue:hover {
      background-color: #d6d6d6; }
    .issue .closeIssue:hover:active,
    .issue .openIssue:hover:active,
    .issue .deleteIssue:hover:active {
      background-color: #bdbdbd; }
  .issue .closeIssue {
    left: .5em; }
  .issue .openIssue {
    left: 4em; }
  .issue .deleteIssue {
    left: 7.5em; }
  .issue:hover {
    background-color: #AFAFAF; }
    .issue:hover .deleteIssue,
    .issue:hover .closeIssue,
    .issue:hover .openIssue {
      display: block; }

