.issue
{
	background-color: transparent;
	width: 15em;
	height: 4em;
	position: absolute;	
	padding: 0.5em;
	font-weight: bold;
	box-sizing: border-box;

	&.blue
	{
		color: blue;
	}

	&.red
	{
		color: red;
	}

	&.closed .content
	{
		text-decoration: line-through;
	}

	.content
	{
		background: transparent;
		width: 95%;
		height: 85%;
		text-align: left;
		
		color: inherit;
		box-sizing: border-box;
	}

	.assignedTo
	{
		position: absolute;
		top: .8em;
		left: -1em;
	}

	.closeIssue,
	.openIssue,
	.deleteIssue,
	.unopenIssue
	{
		display: none;
		position: absolute;
		height: 1.6em;
		width: 3em;
		
		font-size: 0.55em;
		font-family: 'Open Sans', sans-serif;

		padding: 0;
		border: 0;
		bottom: 0em;

		&:hover
		{
			background-color: darken(#F0F0F0, 10%);
		}

		&:hover:active
		{
			background-color: darken(#F0F0F0, 20%);
		}
	}

	.openIssue
	{
		left: .5em;
	}

	.closeIssue
	{
		left: 4em;
	}

	.deleteIssue
	{
		left: 7.5em;
	}

	.unopenIssue
	{
		left: 11em;
	}

	&:hover
	{
		background-color: #AFAFAF;

		.deleteIssue,
		.closeIssue,
		.openIssue,
		.unopenIssue
		{
			display: block;
		}
	}
}