#logOutput {
  padding: 0.5em;
  background-color: #AFAFAF;
  border-radius: 1em;
  height: 15em;
  width: 30em;
  position: absolute;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll; }
  #logOutput .clearLog {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: red;
    width: 20px;
    height: 20px;
    line-height: 10px;
    text-align: center; }
  #logOutput .logItem {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #bcbcbc; }
    #logOutput .logItem .logItemTime {
      font-size: 70%;
      float: left;
      margin-right: 5px; }
    #logOutput .logItem .logItemText {
      float: left;
      font-weight: bold; }

