@import "normalize";
html,
body 
{
	width: 6000px;
	height: 6000px;
	background-color: #EFEFEF;
}

*
{
	box-sizing: border-box;
}

#addStory,
#addTask,
#addRedIssue,
#addBlueIssue
{
	position: absolute;
	left: 0px;
	height: 3em;
	width: 3em;
	font-size: 1.5em;
	background-color: #4F4F4F;
	color: white
}

#addStory
{
	position: absolute;
	top: 0px;
}

#addTask
{
	position: absolute;
	top: 3em;
}

#addRedIssue
{
	background-color: red;
	position: absolute;
	top: 0em;
	left: 3em;
}

#addBlueIssue
{
	background-color: blue;
	position: absolute;
	top: 3em;
	left: 3em;
}

@import "consoleWindow";
@import "task";
@import "story";
@import "issue";

.ui-selected
{
	background-color: orange;
}

.ui-selecting
{
	background-color: red;
}