@import "normalize";
html,
body 
{
	width: 100%;
	height: 100%;
	background-color: #EFEFEF;
	font-family: 'Titillium Web', sans-serif !important;	

	&.withGrid
	{
		background-size: 3em 3em;
		background-image: linear-gradient(to right, #BFBFBF 1px, transparent 1px), linear-gradient(to bottom, #BFBFBF 1px, transparent 1px);
	}
}

*
{
	box-sizing: border-box;
}

#addStory,
#addTask,
#addRedIssue,
#addBlueIssue,
#showLog,
#showGrid
{
	position: absolute;
	left: 0px;
	height: 2em;
	width: 3em;
	font-size: 1em;
	background-color: #4F4F4F;
	color: white;
	padding:0;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}

#addStory
{
	position: absolute;
	top: 0px;
}

#addTask
{
	position: absolute;
	top: 2em;
}

#addRedIssue
{
	background-color: red;
	position: absolute;
	top: 0em;
	left: 3em;
	width: 2em;
}

#addBlueIssue
{
	background-color: blue;
	position: absolute;
	top: 2em;
	left: 3em;
	width: 2em;
}

#showLog
{
	position: absolute;
	top: 4em;
}

#showGrid
{
	position: absolute;
	top: 6em;
}

.commonStyles
{
	cursor: pointer;

	.content
	{
		font-family: 'Open Sans', sans-serif;
		position: absolute;

		text-align: center;
		border: 0;
		resize: none;
		background-color: transparent;

		&:hover
		{
			outline: -webkit-focus-ring-color auto 5px;
		}
	}
}

@import "consoleWindow";
@import "logWindow";
@import "task";
@import "story";
@import "issue";

.ui-selected
{
	background-color: orange;
}

.ui-selecting
{
	background-color: red;
}