/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  width: 100%;
  height: 100%;
  background-color: #EFEFEF; }

* {
  box-sizing: border-box; }

#addStory,
#addTask {
  position: absolute;
  left: 0px;
  height: 3em;
  width: 3em;
  font-size: 1.5em;
  background-color: #4F4F4F;
  color: white; }

#addStory {
  position: absolute;
  top: 0px; }

#addTask {
  position: absolute;
  top: 3em; }

#consoleOutput {
  padding: 0.5em;
  background-color: #AFAFAF;
  border-radius: 1em;
  height: 15em;
  width: 30em;
  position: absolute;
  left: 0px;
  bottom: 0px; }
  #consoleOutput #discussion,
  #consoleOutput #message {
    background-color: #4F4F4F;
    width: 100%;
    color: #EFEFEF;
    border: 2px inset;
    padding-left: 1em; }
  #consoleOutput #discussion {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    height: 12.5em;
    overflow-y: scroll; }
  #consoleOutput #message {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em; }

.task {
  background-color: yellow;
  width: 7em;
  height: 7em;
  padding: 0.5em;
  position: absolute;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-image: url(openTask.png); }
  .task .content {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 70%;
    text-align: center;
    border: 0;
    resize: none;
    background-color: transparent; }
  .task .deleteTask,
  .task .openTask,
  .task .closeTask {
    display: none;
    position: absolute;
    top: 2.5%;
    height: 12%;
    width: 22%;
    font-size: 0.5em;
    padding: 0;
    border: 0; }
    .task .deleteTask:hover,
    .task .openTask:hover,
    .task .closeTask:hover {
      background-color: #d6d6d6; }
    .task .deleteTask:hover:active,
    .task .openTask:hover:active,
    .task .closeTask:hover:active {
      background-color: #bdbdbd; }
  .task .closeTask {
    left: 5%; }
  .task .openTask {
    left: 28.5%; }
  .task .assignedTo {
    position: absolute;
    right: 5%;
    top: 2.5%;
    font-weight: bold;
    font-size: .8em;
    font-family: arial; }
  .task.closed {
    background-image: url(closedTask.png); }
  .task .deleteTask {
    left: 53%; }
  .task:hover .deleteTask,
  .task:hover .openTask,
  .task:hover .closeTask {
    display: block; }

.story {
  background-color: #FFF;
  width: 15em;
  height: 9em;
  padding: 0.5em;
  position: absolute; }
  .story.closed {
    background-image: url(checkmark.png);
    background-repeat: no-repeat;
    background-size: cover; }
  .story .content {
    background-color: transparent;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 70%;
    text-align: center;
    border: 0;
    resize: none; }
  .story .size {
    background-color: transparent;
    position: absolute;
    height: 10%;
    top: 2.5%;
    right: 5%;
    font-size: 0.8em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none; }
  .story .closeDate,
  .story .openDate {
    position: absolute;
    height: 10%;
    bottom: 2.5%;
    font-size: 0.8em; }
  .story .openDate {
    left: 5%; }
  .story .closeDate {
    right: 5%; }
  .story .closeStory,
  .story .openStory,
  .story .deleteStory {
    display: none;
    position: absolute;
    height: 10%;
    width: 12%;
    top: 2.5%;
    font-size: 0.5em;
    padding: 0;
    border: 0; }
    .story .closeStory:hover,
    .story .openStory:hover,
    .story .deleteStory:hover {
      background-color: #d6d6d6; }
    .story .closeStory:hover:active,
    .story .openStory:hover:active,
    .story .deleteStory:hover:active {
      background-color: #bdbdbd; }
  .story .closeStory {
    left: 5%; }
  .story .openStory {
    left: 17.5%; }
  .story .deleteStory {
    left: 30%; }
  .story:hover .deleteStory,
  .story:hover .closeStory,
  .story:hover .openStory {
    display: block; }
  .story:hover .size {
    background-color: #F0F0F0; }

