.story {
  background-color: #FFF;
  width: 15em;
  height: 9em;
  padding: 0.5em;
  position: absolute; }
  .story.closed {
    background-image: url(checkmark.png);
    background-repeat: no-repeat;
    background-size: cover; }
  .story .content {
    background-color: transparent;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 70%;
    text-align: center;
    border: 0;
    resize: none; }
  .story .size {
    background-color: transparent;
    position: absolute;
    height: 10%;
    top: 2.5%;
    right: 5%;
    font-size: 0.8em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none; }
  .story .closeDate,
  .story .openDate {
    position: absolute;
    height: 10%;
    bottom: 2.5%;
    font-size: 0.8em; }
  .story .openDate {
    left: 5%; }
  .story .closeDate {
    right: 5%; }
  .story .closeStory,
  .story .openStory,
  .story .deleteStory {
    display: none;
    position: absolute;
    height: 10%;
    width: 12%;
    top: 2.5%;
    font-size: 0.5em;
    padding: 0;
    border: 0; }
    .story .closeStory:hover,
    .story .openStory:hover,
    .story .deleteStory:hover {
      background-color: #d6d6d6; }
    .story .closeStory:hover:active,
    .story .openStory:hover:active,
    .story .deleteStory:hover:active {
      background-color: #bdbdbd; }
  .story .closeStory {
    left: 5%; }
  .story .openStory {
    left: 17.5%; }
  .story .deleteStory {
    left: 30%; }
  .story:hover .deleteStory,
  .story:hover .closeStory,
  .story:hover .openStory {
    display: block; }
  .story:hover .size {
    background-color: #F0F0F0; }

