.task
{
	background-color: yellow;
	width: 7em;
	height: 7em;
	padding: 0.5em;
	position: absolute;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-image: url(openTask.png);

	.content
	{
		position: absolute;
		top: 15%;
		left: 5%;

		width: 90%;
		height: 70%;

		text-align: center;
		border: 0;
		resize: none;
		background-color: transparent;
	}

	.deleteTask,
	.openTask,
	.closeTask
	{
		display: none;
		position: absolute;
		top: 2.5%;
		height: 12%;
		width: 22%;
		font-size: 0.5em;
		padding: 0;
		border: 0;

		&:hover
		{
			background-color: darken(#F0F0F0, 10%);
		}

		&:hover:active
		{
			background-color: darken(#F0F0F0, 20%);
		}
	}

	.closeTask
	{
		left: 5%;
	}

	.openTask
	{
		left: 28.5%;
	}

	&.closed
	{
		background-image: url(closedTask.png);
	}

	.deleteTask
	{
		left: 53%;
	}

	&:hover
	{
		.deleteTask,
		.openTask,
		.closeTask
		{
			display: block;
		}
	}
}